.bg-back {
    background-color: azure;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    overflow-x: hidden;
}

.bg-front {
    position: fixed;
    z-index: -9;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(124deg, rgba(103, 217, 254, 1) 0%, rgba(205, 234, 125, 1) 41%, rgba(249, 136, 115, 1) 100%);

    mask: url(#starMask);
}

.svg-stars {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.clouds {
    z-index: -5;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    /* Adjust height as needed */
}

.cloud1 {
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    transform: translate(-280%, 41%);

    @media (max-width: 1200px) {
        transform: translate(-180%, 41%);
    }

    @media (max-width: 800px) {
        transform: translate(-80%, 41%);
    }
}

.cloud2 {
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    transform: translate(-220%, 60%);

    @media (max-width: 1200px) {
        transform: translate(-120%, 60%);
    }

    @media (max-width: 800px) {
        transform: translate(-20%, 60%);
    }
}

.cloud3 {
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    transform: translate(300%, 50%);

    @media (max-width: 1200px) {
        transform: translate(200%, 50%);
    }

    @media (max-width: 800px) {
        transform: translate(100%, 50%);
    }
}

#starMask {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.bgpath {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 450px;
}

.bg-canvas {
    position: fixed;
    z-index: -9;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#path2357 {
    width: 100%;
    /* Ensure the stroke is visible */
    fill: transparent;
    /* Ensure the fill doesn't hide the stroke */
    stroke-width: 4;
    stroke-dasharray: 1300;
    /* This will be set dynamically */
    stroke-dashoffset: 1300;
    animation: draw 6s ease-in forwards infinite;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 1300;
        /* This will be set dynamically */
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -1300;
    }
}