$color-1: #67D9FE;
$color-1-hover: #83defc;
$color-2: #F98873;
$color-2-hover: #f9a690;
$color-3: #29d987;
$color-3-hover: #4be1a1;
$color-4: #cdea7d;
$color-4-hover: #d9f29d;
$color-5: #cdbff5;
$color-5-hover: #d9ccf8;
$text-dark: #000000;
$text-light: #FFFFFF;
$background-1: #FAFAFA;
$background-2: #EAEAEA;